@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

#work-experience {
  background-color: #080809; /* Black background */
  color: #fff; /* White text color */
  padding: 60px 0; /* Padding for top and bottom */
}

.work-experience-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem; /* Larger font size */
  font-weight: 700; /* Bold font weight */
  color: #ff7e5f; /* Accent color for heading */
  margin-bottom: 40px; /* Margin below the heading */
}

.work-experience-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 150px; /* Ensure the cards have the same height */
  display: flex;
  align-items: center;
  background: #1a1a1a; /* Dark background for cards */
}

.work-experience-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Increased shadow for a more dynamic look */
}

.company-logo {
  max-width: 120px; /* Increase the size of the logo */
  max-height: 120px; /* Increase the size of the logo */
  object-fit: contain;
  border-radius: 50%;
  background-color: #f8f9fa;
  padding: 10px;
}

.card-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem; /* Increased the font size for the title */
  font-weight: 600; /* Semi-bold font weight */
  color: #ff7e5f; /* Accent color for title */
}

.card-text {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem; /* Increased the font size */
  color: #ddd; /* Changed the color for better readability */
}

@media (max-width: 576px) {
  .work-experience-card {
    margin-bottom: 1.5rem;
    height: auto; /* Adjust height for mobile view */
    flex-direction: column; /* Stack content vertically on mobile */
    text-align: center; /* Center align text on mobile */
  }

  .company-logo {
    max-width: 80px; /* Adjust size for mobile view */
    max-height: 80px; /* Adjust size for mobile view */
    margin-bottom: 10px; /* Add margin to separate the logo from text */
  }

  .card-title {
    font-size: 1.25rem; /* Adjusted font size for mobile view */
  }

  .card-text {
    font-size: 1rem; /* Adjusted font size for mobile view */
  }
}
